<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver"/>
       	<property name="url" value="jdbc:postgresql://localhost/scim_db"/>
       	<property name="username" value="eugene"/>
       	<property name="password" value="scim_db"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <bean id="userDao" class="eugene.zhukov.dao.UserDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    
    <bean id="configProperties" class="eugene.zhukov.util.ConfigProperties">
        <property name="unauthorizedXML">
        	<value><![CDATA[<Errors xmlns="urn:scim:schemas:core:1.0">
    <error>
        <description>Handling of provided authorization header failed</description>
        <code>401</code>
        <uri>urn:eugene.zhukov:scim:errors:1.0:unauthorized</uri>
    </error>
</Errors>]]></value>
        </property>
        <property name="unauthorizedJSON">
        	<value><![CDATA[{
  "Errors":[
    {
      "description":"Handling of provided authorization header failed",
      "code":"401",
      "uri":"urn:eugene.zhukov:scim:errors:1.0:unauthorized"
    }
  ]
}]]></value>
        </property>
        <property name="privateKey" value="classpath:private_key.der"/>
        <property name="tokenValidityTime" value="60000"/>
        <property name="host" value="https://ee.dy.fi"/>
    </bean>

	<tx:advice id="txAdvice">
		<tx:attributes>
		  <tx:method name="retrieve*" read-only="true"/>
		  <tx:method name="persist*"/>
		  <tx:method name="update*"/>
		  <tx:method name="delete*"/>
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="userServiceOperation" expression="execution(* eugene.zhukov.dao.UserDao.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="userServiceOperation"/>
	</aop:config>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

    <bean id="applicationContextProvider" class="eugene.zhukov.ApplicationContextProvider"/>
</beans>
