<web-app>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>scim</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>eugene.zhukov</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>scim</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>SCIMFilter</filter-name>
		<filter-class>eugene.zhukov.SCIMFilter</filter-class>
 	</filter>
	<filter-mapping>
		<filter-name>SCIMFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<error-page>
		<error-code>400</error-code>
		<location>/Errors</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/Errors</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/Errors</location>
	</error-page>
	<error-page>
		<error-code>406</error-code>
		<location>/Errors</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/Errors</location>
	</error-page>
	<error-page>
		<error-code>413</error-code>
		<location>/Errors</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/Errors</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
		<location>/Errors</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/Errors</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/Errors</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/Errors</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/Errors</location>
	</error-page>
	<error-page>
		<error-code>504</error-code>
		<location>/Errors</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/Errors</location>
	</error-page>
</web-app>
